body{
    background-color: #000000;
    font-family: 'Pathway Extreme', sans-serif;
    margin: 20px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.6em 1.3em;
    
}
main section{
    margin-top: 1em;
}
header{
    background-size: cover;
    border-radius: 20px;
    margin-bottom: 3em;
    animation: fadeIn 1s;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
}
nav ul{
    display: flex;
    flex-direction: row;
    margin-top: 2.6em;

}
nav ul li{
    list-style-type: none;
    margin: 0px 20px;
}
nav ul li a{
    font-weight: 600;
    text-decoration: none;
    color: #F2F1EB;
    font-size: 1.4em;
    transition: 0.4s ease;
    
}
nav ul li a:hover{
    padding: 7px;
    border-radius: 10px;
    color: #F2F1EB;
    font-weight: 900;
    transition: 0.3s ease;
    cursor: pointer;
}
.futbol{
    background-image: url("https://78.media.tumblr.com/fa3cd989ae54627dc33b0b903df3dacc/tumblr_n50tekTw9v1qffcrao8_250.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 35em;
    padding-left: 1em;
    border-radius: 20px;
}
.futbol h2{
    padding-top: 1em;
    font-weight: 900;
    font-size: 10em;
    color: #F2F1EB;
}
.formula1{
    background-image: url("https://hips.hearstapps.com/hmg-prod/images/max-verstappen-of-the-netherlands-driving-the-oracle-red-news-photo-1709920729.jpg?crop=1.00xw:0.752xh;0,0&resize=1200:*");
    background-repeat: no-repeat;
    background-size: cover;
    height: 35em;
    padding-left: 1em;
    border-radius: 20px;
}
.formula1 h2{
    padding-top: 1em;
    font-weight: 900;
    font-size: 10em;
    color: #F2F1EB;
}
.nba{
    background-image: url("/resources/img/NBA3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 35em;
    border-radius: 20px;
    padding-left: 1em;
}
.nba h2{
    padding-top: 1em;
    font-weight: 900;
    font-size: 12em;
    color: #F2F1EB;
}

#logo{
    margin-left: 20px;
    margin-top: 1em;
    height: 5em;
}
#worlwide{
    height: 4em;
}
footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-items:flex-start;
    gap: 20px;
    text-align: left;
    height: 170px;
    width: -webkit-fill-available;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 3em;
}
footer a{
    font-size: 2em;
    text-decoration: none;
    color: #F2F1EB;
}